/* task-page.module.css */

.container {
  padding: 16px; /* Adicionei um espaçamento interno à container */
  padding-top: 100px;
}

.content {
  min-width: 300px;
  margin: 0 auto; /* Centralizei o conteúdo na horizontal */
  display: flex;
  flex-wrap: wrap; /* Alterado para flex-wrap: wrap */

  gap: 32px;
  justify-content: start;
}

@media (max-width: 768px) {
  .content {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
    flex-direction: column;
  }
}
